<main>
    <section>
        <div> 
            {{>nav}} 
           
        </div>

    {{>header}}


<div class="main">

    {{#with messages}}
    <div class="massages">        
        <h2 class="mes-title">{{title}}</h2>       
        {{#each list}}
        <div class="mes-item">
            <strong class="mes-name">{{name}} </strong>
            <span class="mes-data">{{day}} </span>
            <p class="mes-message">{{message}} </p>
        </div>
        
        {{/each}}
        <a class="mes-link" href="">All messages</a>
    </div>
        
    {{/with}}

    <form class="form">
   {{#with form}}
    <h1 class="form-title">{{title}} </h1>
    <div class="form-input-list">
        {{#each inputs}}
        <input type="{{type}}" id="form-input-{{id}}" placeholder="{{placeholder}}" name="{{name}}"
        class="form-input">
        {{/each}}
    </div>
    <div class="form-chek-block">  
        <input type="checkbox" name="{{checkbox.name}}" id="{{checkbox.name}}">
        <label for="{{checkbox.name}}">{{checkbox.label}} </label>
    </div>
        
        <button class="form-btn" type="submit"><span> {{button}} </span></button>      
        <p class="form-info">{{info}} </p>
    {{/with}}
    </form>
    
</div>
     
<div class="advant">
    {{#each advantages}}
        <div>
            <h3 class="advant-title">{{title}} </h3>
            <p class="advant-text">{{text}}</p>
        </div>
    {{/each}}
</div>

    

    {{>footer}}
    </section>
</main>