<main>
    <section>
        <div> 
            {{>nav}} 
           
        </div>

    {{>header}}

    {{#with main}}
<div class="hero">
    <div>
        <img src="{{image}}" alt="photo" class="hero-img">
    </div>
    <div class="hero-content">
        <h1 class="hero-head">{{heading}} </h1>
        <p class="hero-descr">{{descriotion}} </p>
         <a href="{{href}}" class="hero-btn-text">
        {{button}}
        </a>
    </div>
</div>
   
{{/with}}

<main class="blogs">
{{#each featured}}
    <div class="card-blog">
        <img src="{{photo}}" alt="picture" class="card-blog-img">
        <h2 class="card-blog-title">{{heading}}</h2>
        <p class="card-blog-text">{{info}} </p>
        <a href="{{linkUrl}}" class="card-blog-btn">{{linkText}} </a>
    </div>
{{/each}}
</main>

<div class="forms">
    {{#each actions}}
    <div class="form-cont">    
    <p class="form-name">{{heading}} </p>   
     
     <a href="{{href}}" class="form-a">
        <button class="form-a-text">{{text}}</button>
    </a>
    </div>
    {{/each}}
</div>






    {{>footer}}
    </section>
</main>