<main>
    <section>
        <div> 
            {{>nav}}            
        </div>
    
    <h1 hidden>{{page.title}} </h1>  

    <header>
{{#with header}}
    
    <div class="higher-header">
        <div>   
        <strong class="logotype">{{brandName}}</strong>       
        </div>
        
    <nav class="link">
        {{#each links}}
        <a href="{{url}}" class="link-cont">{{text}} </a>
        {{/each}}
    </nav> 
    
    </div>

    <div class="lower-header">
    {{#with ad}}
    <p class="ad-cont"> <span class="ad">Ad</span>{{text}} <a href="{{url}}" class="a-link">{{url}} </a>
    </p>
    
    {{/with}}
    <p class="user">userOnline: {{userOnline}}</p>
    </div>
{{/with}}
</header>



<div class="hero">
{{#with hero}}

    <h2 class="title-hero">{{title}} </h2>
    <p class="descr-hero">{{description}} </p>
    <a href="{{button.url}}"> <button class="btn-hero">{{button.text}} </button> </a>

{{/with}}
</div>

<div class="about">
{{#with about}} 

    <h3 class="title-about">{{heading}} </h3>
    <p class="info-about">{{info}} </p>
    
{{/with}}
</div>

<div class="article">
{{#each articles}} 
<div class="article-crd" id="id">
 <div>
<img src="{{photo}}" alt="photo" class="article-photo">
   {{#if isNew}}
    <p class="new-article">NEW</p>
    {{/if}}
</div>
<h4 class="article-name">{{name}} </h4>
<p class="article-descr">{{description}} </p>
<button class="article-btn">Read All</button>
</div>
{{/each}}
</div>

<div class="footer">
{{#with footer}}

    <div class="footer-items">
    {{#each pages}}
        <a href="{{path}}" class="footer-link"><button  class="footer-btn">{{name}} </button> </a>
    {{/each}}
    </div>
    <p>{{copyright}} </p>
{{/with}}
</div>  

   
</section>
</main>